In [2]:
# Tuple : Immutable
# List : Mutable

# 1. List
# 1) 리스트 생성하기
empty_list = []
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

# list() 함수로 빈 리스트를 할당할 수 있다.
another_empty_list = list()
another_empty_list

[]

In [4]:
# 2) 다른 데이터 타입을 리스트로 변환하기 : list()
list('cat')

['c', 'a', 't']

In [6]:
# Tuple을 List로 변환
a_tuple = ('ready', 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [7]:
# split으로 List 변환
birthday = '1/6/1952'
birthday.split('/')

['1', '6', '1952']

In [8]:
# 구분자가 여러 개 들어있다면 ?
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [9]:
splitme.split('//')

['a/b', 'c/d', '/e']

In [10]:
# 3) offset으로 항목 얻기
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0]

'Groucho'

In [11]:
marxes[1]

'Chico'

In [12]:
marxes[2]

'Harpo'

In [13]:
# 음수의 인덱스는 거꾸로 접근한다.
marxes[-1]

'Harpo'

In [14]:
marxes[-2]

'Chico'

In [15]:
marxes[-3]

'Groucho'

In [2]:
# 4) List의 List
small_birds = ['hummingbird', 'finch']
extinct_birds = ["dodo", "passenger pigeon", "Norwegian Blue"]
carol_birds = [3, "French hens", 2, "tutledoves"]
all_birds = [small_birds, extinct_birds, "macaw", carol_birds]
all_birds

[['hummingbird', 'finch'],
 ['dodo', 'passenger pigeon', 'Norwegian Blue'],
 'macaw',
 [3, 'French hens', 2, 'tutledoves']]

In [4]:
# 첫 번째 항목
all_birds[1]

['dodo', 'passenger pigeon', 'Norwegian Blue']

In [6]:
# 두 번째 항목은 extinct_birds 리스트이며 이 리스트의 첫 번째 항목
all_birds[1][0]

'dodo'

In [8]:
# 5) offset으로 항목 바꾸기
marxes = ["Groucho", "Chico", "Harpo"]
marxes[2] = "Wanda"
marxes

['Groucho', 'Chico', 'Wanda']

In [10]:
# 6) 슬라이스로 항목 추출하기
marxes = ["Groucho", "Chico", "Harpo"]
marxes[0 : 2]

['Groucho', 'Chico']

In [11]:
# step 사용
marxes[ : : 2]

['Groucho', 'Harpo']

In [12]:
# 끝에서 왼쪽으로 2칸씩
marxes[ : : -2]

['Harpo', 'Groucho']

In [13]:
# List 반전
marxes[ : : -1]

['Harpo', 'Chico', 'Groucho']

In [15]:
# 7) List끝에 항목 추가하기 : appned()
marxes.append("Zeppo")
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [16]:
# 8) offset과 insert()로 항목 추가하기
marxes.insert(3, "Gummo")
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [23]:
marxes.insert(10, "Karl")
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo', 'Karl']

In [25]:
# 9) offset으로 항목 삭제하기 : del
del marxes[-1]
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [26]:
del marxes[2]
marxes

['Groucho', 'Chico', 'Gummo', 'Zeppo']

In [27]:
marxes[2]

'Gummo'

In [28]:
# 10) 값으로 항목 삭제하기 : remove()
marxes = ["Groucho", "Chico", "Harpo", "Gummo", "Zeppo"]
marxes.remove("Gummo")
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [29]:
# 11) offset으로 항목을 얻은 후 삭제하기 : pop()
marxes = ["Groucho", "Xhico", "Harpo", "Zempo"]
marxes.pop()

'Zempo'

In [30]:
marxes

['Groucho', 'Xhico', 'Harpo']

In [31]:
marxes.pop(1)

'Xhico'

In [32]:
marxes

['Groucho', 'Harpo']

In [33]:
# 12) 값으로 항목 offset 찾기 : index()
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.index("Chico")

1

In [34]:
# 13) 존재여부 확인하기 : in
marxes = ["Groucho", "Chico", "Marpo", "Zeppo"]
"Groucho" in marxes

True

In [35]:
"Bob" is marxes

False

In [36]:
words = ["a", "deer", "a", "female", "deer"]
"deer" in words

True

In [37]:
# 14) 값 세기 : count()
marxes = ["Groucho", "Chico", "Harpo"]
marxes.count("Harpo")

1

In [38]:
marxes.count("Bob")

0

In [40]:
snl_skit = ["cheeseburger", "cheeseburger", "cheeseburger"]
snl_skit.count('cheeseburger')

3

In [41]:
# 15) 문자열로 반환하기 : join()
marxes = ["Groucho", "Chico", "Harpo"]
", ".join(marxes)

'Groucho, Chico, Harpo'

In [42]:
# join을 split과 반대라고 생각하면 괜찮다.
friends = ["Harry", "Hermione", "Ron"]
separator = ' * '
joined = separator.join(friends)
joined

'Harry * Hermione * Ron'

In [43]:
separated = joined.split(separator)
separated

['Harry', 'Hermione', 'Ron']

In [45]:
separated == friends

True

In [46]:
# 16) 정렬하기 : sort()
# sort() : 리스트 자체를 내부적으로 정렬한다.
# sorted() ; 리스트의 정렬된 복사본을 반환한다.
marxes = ["Groucho", "Chico", "Harpo"]
sorted_marxes = sorted(marxes)
sorted_marxes

['Chico', 'Groucho', 'Harpo']

In [47]:
marxes

['Groucho', 'Chico', 'Harpo']

In [48]:
marxes.sort()
marxes

['Chico', 'Groucho', 'Harpo']

In [49]:
numbers = [2, 1, 4.0, 3]
numbers.sort()
numbers

[1, 2, 3, 4.0]

In [50]:
# default ; 오름차순, reverse = True(내림차순)
numbers = [2, 1, 4.0, 3]
numbers.sort(reverse = True)
numbers

[4.0, 3, 2, 1]

In [51]:
# 17) 항목 개수 얻기 : len()
marxes = ["Groucho", "Chico", "Harpo"]
len(marxes)

3

In [52]:
# 18) 할당 := , 복사 : copy()
a = [1, 2, 3]
a

[1, 2, 3]

In [53]:
b = a
b

[1, 2, 3]

In [54]:
a[0] = "surprise"
a

['surprise', 2, 3]

In [55]:
b

['surprise', 2, 3]

In [56]:
b[0] = "I hate surprises"
b

['I hate surprises', 2, 3]

In [57]:
a

['I hate surprises', 2, 3]

In [58]:
# 새로운 리스트로 복사할 수 있는 방법
# (1) copy() 함수
# (2) list() 변환 함수
# (3) 슬라이스 [ : ]
# -> 복사본을 바꾸더라도 원본 a에는 아무런 영향을 주지 않는다.

a = [1, 2, 3]
b = a.copy()
c = list(a)
d = a[ : ]

In [59]:
a[0] = "integer lists are boring"
a

['integer lists are boring', 2, 3]

In [60]:
b

[1, 2, 3]

In [61]:
c

[1, 2, 3]

In [62]:
d

[1, 2, 3]